<%- include('../partials/header.ejs') %>

<%- include('../partials/menu.ejs') %>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">LISTAGEM DE CALCADOS</div>
        </div>

    <%
        carros.data.forEach(carros=>{
    %> 
    <div class = "card mt-2 p1">
        <div class = "card-body">
        <h5> <%= carros.cod_carro %>  </h5>
        <p> <%= carros.modelo_carro %>  </p>
        <p> <%= carros.nome_carro %> </p>
        </div>
        <% }) %> 
</div>

</body>

</html>